<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590418953408-ana6m22o6sbc8eo5o6tq3svr26s0pq0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590418953408-ana6m22o6sbc8eo5o6tq3svr26s0pq0t</string>
	<key>API_KEY</key>
	<string>AIzaSyAf1VLsxB1W2TelvdteN8z2InFnMAWscjM</string>
	<key>GCM_SENDER_ID</key>
	<string>590418953408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.traffic</string>
	<key>PROJECT_ID</key>
	<string>trafficteststart419</string>
	<key>STORAGE_BUCKET</key>
	<string>trafficteststart419.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590418953408:ios:d116f4f76e872baf35d925</string>
</dict>
</plist>